<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bms.domain.modules.sys.dao.RotateDetailMapper">
  <resultMap id="BaseResultMap" type="com.bms.domain.modules.sys.entity.RotateDetail">
    <constructor>
      <idArg column="records_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="rotate_time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rotate_before" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rotate_after" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="person_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="rotate_prove" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    records_id, rotate_time, rotate_before, rotate_after, person_id, rotate_prove
  </sql>
  <select id="queryList" parameterType="com.bms.domain.modules.sys.entity.LeaveDetail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from transfer_detail
    <where>
      <if test="recordsId != null">
        and records_id=#{recordsId}
      </if>
      <if test="rotateTime != null">
        and rotate_time=#{rotateTime}
      </if>
      <if test="rotateBefore != null">
        and rotate_before=#{rotateBefore}
      </if>
      <if test="rotateAfter != null">
        and rotate_after=#{rotateAfter}
      </if>
      <if test="personId != null">
        and person_id=#{personId}
      </if>
      <if test="rotateProve != null">
        and rotate_prove=#{rotateProve}
      </if>
    </where>
  </select>

  <select id="queryByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from transfer_detail
    <where>
      <if test="recordsId != null">
        and records_id=#{recordsId}
      </if>
      <if test="rotateTime != null">
        and rotate_time=#{rotateTime}
      </if>
      <if test="rotateBefore != null">
        and rotate_before=#{rotateBefore}
      </if>
      <if test="rotateAfter != null">
        and rotate_after=#{rotateAfter}
      </if>
      <if test="personId != null">
        and person_id=#{personId}
      </if>
      <if test="rotateProve != null">
        and rotate_prove=#{rotateProve}
      </if>
    </where>
    <if test="order != null">
      order by #{order} #{sort}
    </if>
    limit #{offset},#{limit}
    <!--    <if test="limit != null">-->
    <!--      limit #{offset},#{limit}-->
    <!--    </if>-->
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rotate_detail
    where records_id = #{recordsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rotate_detail
    where records_id = #{recordsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bms.domain.modules.sys.entity.RotateDetail">
    insert into rotate_detail (records_id, rotate_time, rotate_before, 
      rotate_after, person_id, rotate_prove
      )
    values (#{recordsId,jdbcType=INTEGER}, #{rotateTime,jdbcType=VARCHAR}, #{rotateBefore,jdbcType=VARCHAR}, 
      #{rotateAfter,jdbcType=VARCHAR}, #{personId,jdbcType=INTEGER}, #{rotateProve,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bms.domain.modules.sys.entity.RotateDetail">
    insert into rotate_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordsId != null">
        records_id,
      </if>
      <if test="rotateTime != null">
        rotate_time,
      </if>
      <if test="rotateBefore != null">
        rotate_before,
      </if>
      <if test="rotateAfter != null">
        rotate_after,
      </if>
      <if test="personId != null">
        person_id,
      </if>
      <if test="rotateProve != null">
        rotate_prove,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordsId != null">
        #{recordsId,jdbcType=INTEGER},
      </if>
      <if test="rotateTime != null">
        #{rotateTime,jdbcType=VARCHAR},
      </if>
      <if test="rotateBefore != null">
        #{rotateBefore,jdbcType=VARCHAR},
      </if>
      <if test="rotateAfter != null">
        #{rotateAfter,jdbcType=VARCHAR},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=INTEGER},
      </if>
      <if test="rotateProve != null">
        #{rotateProve,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bms.domain.modules.sys.entity.RotateDetail">
    update rotate_detail
    <set>
      <if test="rotateTime != null">
        rotate_time = #{rotateTime,jdbcType=VARCHAR},
      </if>
      <if test="rotateBefore != null">
        rotate_before = #{rotateBefore,jdbcType=VARCHAR},
      </if>
      <if test="rotateAfter != null">
        rotate_after = #{rotateAfter,jdbcType=VARCHAR},
      </if>
      <if test="personId != null">
        person_id = #{personId,jdbcType=INTEGER},
      </if>
      <if test="rotateProve != null">
        rotate_prove = #{rotateProve,jdbcType=VARCHAR},
      </if>
    </set>
    where records_id = #{recordsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bms.domain.modules.sys.entity.RotateDetail">
    update rotate_detail
    set rotate_time = #{rotateTime,jdbcType=VARCHAR},
      rotate_before = #{rotateBefore,jdbcType=VARCHAR},
      rotate_after = #{rotateAfter,jdbcType=VARCHAR},
      person_id = #{personId,jdbcType=INTEGER},
      rotate_prove = #{rotateProve,jdbcType=VARCHAR}
    where records_id = #{recordsId,jdbcType=INTEGER}
  </update>
</mapper>