<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bms.domain.modules.sys.dao.TransferDetailMapper">
  <resultMap id="BaseResultMap" type="com.bms.domain.modules.sys.entity.TransferDetail">
    <constructor>
      <idArg column="records_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="transfer_time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="transfer_before" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="transfer_after" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="person_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="transfer_prove" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    records_id, transfer_time, transfer_before, transfer_after, person_id, transfer_prove
  </sql>
  <select id="queryList" parameterType="com.bms.domain.modules.sys.entity.LeaveDetail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from transfer_detail
    <where>
      <if test="recordsId != null">
        and records_id=#{recordsId}
      </if>
      <if test="transferTime != null">
        and transfer_time=#{transferTime}
      </if>
      <if test="transferBefore != null">
        and transfer_before=#{transferBefore}
      </if>
      <if test="transferAfter != null">
        and transfer_after=#{transferAfter}
      </if>
      <if test="personId != null">
        and person_id=#{personId}
      </if>
      <if test="transferProve != null">
        and transfer_prove=#{transferProve}
      </if>
    </where>
  </select>

  <select id="queryByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from transfer_detail
    <where>
      <if test="recordsId != null">
        and records_id=#{recordsId}
      </if>
      <if test="transferTime != null">
        and transfer_time=#{transferTime}
      </if>
      <if test="transferBefore != null">
        and transfer_before=#{transferBefore}
      </if>
      <if test="transferAfter != null">
        and transfer_after=#{transferAfter}
      </if>
      <if test="personId != null">
        and person_id=#{personId}
      </if>
      <if test="transferProve != null">
        and transfer_prove=#{transferProve}
      </if>
    </where>
    <if test="order != null">
      order by #{order} #{sort}
    </if>
    limit #{offset},#{limit}
    <!--    <if test="limit != null">-->
    <!--      limit #{offset},#{limit}-->
    <!--    </if>-->
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transfer_detail
    where records_id = #{recordsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from transfer_detail
    where records_id = #{recordsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bms.domain.modules.sys.entity.TransferDetail">
    insert into transfer_detail (records_id, transfer_time, transfer_before, 
      transfer_after, person_id, transfer_prove
      )
    values (#{recordsId,jdbcType=INTEGER}, #{transferTime,jdbcType=VARCHAR}, #{transferBefore,jdbcType=VARCHAR}, 
      #{transferAfter,jdbcType=VARCHAR}, #{personId,jdbcType=INTEGER}, #{transferProve,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bms.domain.modules.sys.entity.TransferDetail">
    insert into transfer_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordsId != null">
        records_id,
      </if>
      <if test="transferTime != null">
        transfer_time,
      </if>
      <if test="transferBefore != null">
        transfer_before,
      </if>
      <if test="transferAfter != null">
        transfer_after,
      </if>
      <if test="personId != null">
        person_id,
      </if>
      <if test="transferProve != null">
        transfer_prove,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordsId != null">
        #{recordsId,jdbcType=INTEGER},
      </if>
      <if test="transferTime != null">
        #{transferTime,jdbcType=VARCHAR},
      </if>
      <if test="transferBefore != null">
        #{transferBefore,jdbcType=VARCHAR},
      </if>
      <if test="transferAfter != null">
        #{transferAfter,jdbcType=VARCHAR},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=INTEGER},
      </if>
      <if test="transferProve != null">
        #{transferProve,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bms.domain.modules.sys.entity.TransferDetail">
    update transfer_detail
    <set>
      <if test="transferTime != null">
        transfer_time = #{transferTime,jdbcType=VARCHAR},
      </if>
      <if test="transferBefore != null">
        transfer_before = #{transferBefore,jdbcType=VARCHAR},
      </if>
      <if test="transferAfter != null">
        transfer_after = #{transferAfter,jdbcType=VARCHAR},
      </if>
      <if test="personId != null">
        person_id = #{personId,jdbcType=INTEGER},
      </if>
      <if test="transferProve != null">
        transfer_prove = #{transferProve,jdbcType=VARCHAR},
      </if>
    </set>
    where records_id = #{recordsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bms.domain.modules.sys.entity.TransferDetail">
    update transfer_detail
    set transfer_time = #{transferTime,jdbcType=VARCHAR},
      transfer_before = #{transferBefore,jdbcType=VARCHAR},
      transfer_after = #{transferAfter,jdbcType=VARCHAR},
      person_id = #{personId,jdbcType=INTEGER},
      transfer_prove = #{transferProve,jdbcType=VARCHAR}
    where records_id = #{recordsId,jdbcType=INTEGER}
  </update>

</mapper>